/* Configurações iniciais da pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "K2D", sans-serif;
    font-weight: 800;
}

.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.k2d-regular {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.k2d-medium {
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.k2d-extrabold {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 19, 36, 0.5);
    background: 
    linear-gradient(to bottom, rgba(16, 19, 36, 0) 70%, #101621a8 100%);
    z-index: 1;
}
  
  
body{
    background-color: #101621;
    color: #fff;
    text-align: center;
    padding: 2% 4%;
}

/* Header(cabeçario) */

.logo-img {
    width: 20em;
    transition: 0.5s;
}

.logo-img:hover{
    transform: scale(1.1);
}

.cabecario{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 54em;
    z-index: 1000;
}

.menu-login {
    font-size: 1.3rem;
    color: #D1D3D9;
}

.menu-login {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.menu-login ul{
    display: flex;
    list-style: none;
    gap: 1.6em;
}

.menu-login button {
    display: flex;
    border: none;
    background: none;
    font-size: 1em;
    color: #D1D3D9;
    cursor: pointer;
    transition: 0.5s;
    gap: 0;
    align-items: center;
}

.menu-login button:hover{
    color: #ebeef5;
    transform: scale(1.1);
} 


.menu-logado {
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-size: 1.3rem;
    color: #D1D3D9;
}

.menu-logado ul, li{
    display: flex;
    list-style: none;
    gap: 1.6em;
}

.menu-logado button {
    display: flex;
    border: none;
    background: none;
    font-size: 1em;
    color: #D1D3D9;
    cursor: pointer;
    transition: 0.5s;
    gap: 0;
    align-items: center;
}

.menu-logado button:hover{
    color: #ebeef5;
    transform: scale(1.1);
} 

.pesquisar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #343844;
    align-items: center;
    padding: 0.4em 0.4em;
    height: 1.8em;
    border-radius: 0.8em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-self: center;
    transition: 0.5s;
}

.pesquisar-container:hover {
    transform: scale(1.1);
}
.pesquisar-container input{
    background-color: #343844;
    border: none;
    color: #D1D3D9;
    outline: none;
    font-size: 0.6em;
    width: 12em;
    height: 2em;
    flex: 1;
}

.pesquisar-container button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 0.6em;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.texto-central-container {
    padding-top: 14em; 
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h2 {      
    font-size: 2rem;
    margin: 8.5rem;         
  }

.texto-central{
    width: 12em;
    font-size: 4em;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.botão-central{
    width: 16em;
    align-items: center;
    height: 3em;
    font-size: 0.8em;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background-color: #4B9CD3;
    color: #ffffff;
    transition: 0.5s;
}

.botão-central:hover{
    transform: scale(1.1);
    border-color: #236896;
    background-color: #236896;
    color: #ffffff;
}

@keyframes aparecerDeBaixo {
    0% {
        transform: translateY(100%);  
        opacity: 0;               
    }
    100% {
        transform: translateY(0);    
        opacity: 1;                  
    }
}

.texto-central-container, .welcome{
    animation: aparecerDeBaixo 2s ease-out forwards; 
    opacity: 0;                            
    transform: translateY(100%);           
}

.user-icon {
    width: 42px; 
    height: 42px; 
    margin-right: 15px;
}

.feed-page {
    margin-top: -100px;
}
.line-custom {
    border: none;
    height: 1px; /* Espessura da linha */
    width: 80%; /* Ajusta largura da linha */
    max-width: 2000px; /* Define um limite de largura máximo */
    background: #ffffff; /* Cor da linha */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
}
.line-title {
    font-size: 1.5rem; 
}

.line-container {
    display: flex;
    justify-content: space-between; 
    margin-right: 170px;
    margin-left: 170px;
}

.more-btn {
    display: flex;
    border: none;
    background: none;
    font-size: 1em;
    color: #D1D3D9;
    cursor: pointer;
    transition: 0.5s;
    gap: 0;
}

.games-section {
  margin: 2rem auto;
  max-width: 1200px;
  text-align: center;
  color: #ffffff;
}

.games-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.games-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.add-game-btn {
  background-color: #fdfdfd;
  color: #3d3d3d;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-game-btn:hover {
  background-color: #667796;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ffffff;
    min-height: 200px;
    border-radius: 5px;
    position: relative;
    padding: 1rem;
  }

.placeholder {
  font-size: 1rem;
  opacity: 0.7;
}

.game-card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0.7rem;
  }
  
  .game-card img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 10px rgba(39, 37, 65, 0.5); 
  }
  